@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;

@layer utilities {
  .link {
    @apply text-primary dark:text-white hover:text-primary-dark dark:hover:text-primary-light
  }

  .btn {
    @apply text-white bg-primary hover:bg-primary-dark dark:bg-primary-dark hover:dark:bg-primary focus:outline-none
  }

  .profile-menu-item {
    @apply block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-slate-700 hover:bg-primary hover:text-white focus:outline-none dark:bg-slate-700 dark:text-white dark:hover:bg-slate-800/25;
  }

  .heading-1{
    @apply text-center md:text-2xl lg:text-3xl font-extrabold underline underline-offset-8 underline-primary;
  }
}

@tailwind components;
@tailwind utilities;


::selection{
  background-color: peru;
  color: white;
}

p {
  @apply leading-[1.6];
}

.underline-primary{
  -moz-text-decoration-color: peru;
  text-decoration-color: peru;
}

/* Font for H tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}

/* Font for P, A, and other elements */
p,
a,
span {
  font-family: "Roboto", sans-serif;
}


/* Custom CSS */


/* ########## Login Section ########## */
#login-section {
  background: url("/images/yoga_cover.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left;
  position: relative;
}

#login-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.75));
}


/* ########## Registration Section ########## */
#registration-section .side-image {
  background: url("/images/yoga_cover.png") no-repeat;
  background-size: cover;
  background-position: center;
}


/* ########## PrimeReact ########## */
.p-highlight {
  @apply bg-primary text-white dark:bg-slate-700 !important;
}

.p-dropdown {
  @apply bg-primary dark:bg-slate-700 items-center;
  margin-left: 0px;
}

.p-dropdown-item {
  @apply bg-main text-black hover:bg-primary hover:text-main dark:bg-dark-main dark:text-main dark:hover:bg-slate-700
}

/* Select Button */
/* p-button p-component p-highlight */

.p-selectbutton .p-button {
  @apply bg-slate-700 transition-all ease-out duration-300;
}

.p-component .p-highlight{
  @apply bg-primary-dark !important;
}

